/* assets/css/game/_objects.css */

/* --- ИГРОВЫЕ ОБЪЕКТЫ --- */

#player-ship {
    position: fixed;
    opacity: 0;
    width: 0; height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 25px solid var(--red-accent);
    z-index: 502;
    transform: translate(-50%, -50%);
}

#player-ship.visible {
    opacity: 1;
}