/* assets/css/game/_scene.css */

/* --- СЦЕНА И ИГРОВОЕ ПОЛЕ --- */

#game-cursor-blocker {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999; /* Поверх абсолютно всего */
}

#game-cursor-blocker.is-hidden {
    cursor: none;
}


body.game-mode {
    /* Технический класс для JS */
}

body.terminal-active {
    background-color: var(--black);
}

body.game-active {
    -webkit-user-select: none;
    user-select: none;
}

body.game-active .vertical-guide-line.left {
    left: calc(50% - 350px);
}
body.game-active .vertical-guide-line.right {
    right: calc(50% - 350px);
}

/* Фон на Canvas */
#stars-canvas {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    z-index: 10;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s ease;
}
body.game-mode #stars-canvas.visible {
    opacity: 1;
}