/* assets/css/game/_scene.css */

/* --- СЦЕНА И ИГРОВОЕ ПОЛЕ --- */

body.game-active {
    cursor: none;
    -webkit-user-select: none;
    user-select: none;
}

body.game-active .site-header,
body.game-active .site-footer,
body.game-active .sections-container {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

body.game-active .vertical-guide-line.left {
    left: calc(50% - 350px);
    transition: left 0.8s ease-out 0.5s;
}
body.game-active .vertical-guide-line.right {
    right: calc(50% - 350px);
    transition: right 0.8s ease-out 0.5s;
}

/* Фон на Canvas */
#stars-canvas {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    z-index: 10;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s ease;
}

body.game-active #stars-canvas.visible {
    opacity: 1;
}