/* assets/css/components/_buttons.css */

/* Кнопки для финальной секции */
.nav-button-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--gap-cta-group);
    width: var(--width-cta-group);
    margin-top: var(--margin-top-cta-group);
}
.cta-main-separator {
    width: var(--size-cta-separator);
    height: var(--size-cta-separator);
    background-color: var(--text-color);
    margin: var(--margin-cta-separator) 0;
}
.nav-button {
    display: block;
    font-family: var(--font-main);
    font-weight: 700;
    font-size: var(--font-size-cta-button);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-color);
    background-color: transparent;
    border: 1px solid var(--border-color);
    padding: var(--padding-cta-button-y) var(--padding-cta-button-x);
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    transition: background-color 0.2s ease-in-out, 
                border-color 0.2s ease-in-out, 
                color 0.2s ease-in-out;
}
#cta-telegram-button {
    width: var(--width-cta-group);
    max-width: 100%;
}
.nav-button:hover {
    background-color: var(--red-accent);
    border-color: var(--red-accent);
    color: var(--bg-color);
}